
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<div id="NoTouching" class="carousel slide" style="height:100vh;"  data-bs-touch="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/chris-gallagher-4zxp5vlmvnI-unsplash.jpg" class="d-block" style="width:100vw; height:100vh;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/pexels-denniz-futalan-942560.jpg" class="d-block" style="width:100vw; height:100vh;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/michael-held-Of-NXuECJbE-unsplash.jpg" class="d-block"style="width:100vw; height:100vh;" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#NoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#NoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@*<a href="/Admin/Account/Login">NDMA Login</a>
<br />
<a href="/RehabilitationInstitutes/Account/Login">Rehabilitation Institutes Login</a>*@


